<!-- botones.component.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<div>
    <button type="button" (click)="emitirOperacion('suma')">+</button>
    <button type="button" (click)="emitirOperacion('resta')">-</button>
    <button type="button" (click)="emitirOperacion('multiplicacion')">*</button>
    <button type="button" (click)="emitirOperacion('division')">/</button>
    <button type="button" (click)="emitirOperacion('potencia')">^</button>
    <button type="button" (click)="emitirOperacion('raiz')">√</button>
    <button type="button" (click)="limpiar()">Limpiar</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>